<!DOCTYPE html>
<html>
<head>
<title>Player Auction</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2>Welcome {{user}}</h2>
<a href="/logout">Logout</a>

<form method="GET">

<input type="text" name="search" placeholder="Search player">

<select name="team">
<option value="">Team</option>
<option>MI</option>
<option>RCB</option>
<option>GT</option>
<option>LSG</option>
<option>DC</option>
</select>

<select name="role">
<option value="">Role</option>
<option>Batsman</option>
<option>Bowler</option>
<option>Wicketkeeper</option>
<option>All-Rounder</option>
</select>

Strike Rate:
<input name="sr_min" placeholder="min">
<input name="sr_max" placeholder="max">

<button type="submit">Filter</button>

</form>

<div class="grid">

{% for p in players %}

<div class="card">

<h3>{{p[1]}}</h3>

<p><b>Team:</b> {{p[2]}}</p>
<p><b>Role:</b> {{p[3]}}</p>
<p><b>Strike Rate:</b> {{p[4]}}</p>
<p><b>Current Price:</b> ₹{{p[5]}}</p>

<form method="POST" action="/bid/{{p[0]}}">
<input type="number" name="bid" placeholder="New bid">
<button>Bid</button>
</form>

</div>

{% endfor %}

</div>

</body>
</html>
