<!DOCTYPE html>
<html>

<head>

<title>Cricket Player Auction</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h1>Indian Cricket Player Auction</h1>

<input type="text" id="search" placeholder="Search player..." onkeyup="searchPlayer()">

<ul id="players">

{% for p in players %}

<li>
<a href="/player/{{p[0]}}">
{{p[1]}}
</a>
</li>

{% endfor %}

</ul>

<script>

function searchPlayer(){

let input=document.getElementById("search").value.toLowerCase()
let items=document.querySelectorAll("#players li")

items.forEach(item=>{

let text=item.innerText.toLowerCase()

item.style.display=text.includes(input) ? "" : "none"

})

}

</script>

</body>
</html>
