<!DOCTYPE html>
<html>

<head>

<title>{{player[1]}}</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h1>{{player[1]}}</h1>

<p><b>Strike Rate:</b> {{player[2]}}</p>
<p><b>Average:</b> {{player[3]}}</p>
<p><b>Current Price:</b> ₹{{player[4]}}</p>

<h3>Place New Bid</h3>

<form method="POST" action="/bid/{{player[0]}}">

<input type="number" name="bid" placeholder="Enter new bid" required>

<button type="submit">Submit Bid</button>

</form>

<br>

<a href="/">⬅ Back to Player List</a>

</body>
</html>
